[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/canigia1986
[access "refs/for/refs/*"]
	read = group user/canigia1986
	push = group user/canigia1986
	label-Code-Review = -2..+2 group user/canigia1986
	label-Verified = -1..+1 group user/canigia1986
	rebase = group user/canigia1986
	removeReviewer = group user/canigia1986
	submit = group user/canigia1986
[access "refs/heads/*"]
	read = group user/canigia1986
	create = group user/canigia1986
	push = +force group user/canigia1986
	pushMerge = group user/canigia1986
[access "refs/tags/*"]
	push = +force group user/canigia1986
	pushTag = group user/canigia1986
	pushSignedTag = group user/canigia1986
